.box1 {
    background-color: #ff8f33;
    height: 270px;
}

.box2 {
    background-color: #ffad33;
    height: 270px;
}

.box3 {
    background-color: #ffcf33;
    height: 270px;
}

.box4 {
    background-color: #fff133;
    height: 270px;
}